    html, body {
        height: 100%;
        width: 100%;
        padding: 0;
        margin: 0;
        overflow: hidden;
    }
    #BABYLON_GAME {
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
    }
    svg {
        position: absolute;
        width:87vw;
        height:20vh;
        max-width: 100%;
        bottom: 2px;
        left:50%;
        transform: translateX(-50%);
    }

    .panel {
        /* rotate just rotates, perspective shrinks furthest edge*/
        transform: perspective(1000px) rotateX(30deg);
        transform-origin: bottom;
    }